source:
    - src/

destination: ../cakephp-database-backup-gh-pages

# Access levels of included method and properties. (default: ["public","protected"]) (multiple values allowed)
accessLevels:           
    - public
    - private
    - protected

# Generate page with elements with specific annotation.
#   not sure what these are, guess I'll hafta learn about em'
#annotationGroups:       

# Base url used for sitemap (useful for public doc).
#baseUrl: http://docs.example.com

# Custom google search engine id (for search box).
#googleCseId: {put it here!}

# Google Analytics tracking code.
#googleAnalytics: {put it here}

# Generate documentation for elements marked as @deprecated
deprecated: true

# Scanned file extensions. (default: ["php"]) (multiple values allowed)
#extensions:
#    - php     

# Directories and files matching this mask will not be parsed (e.g. */tests/*). (multiple values allowed)
#exclude:
#    - vendor/
#    - logs/

# The way elements are grouped in menu. (default: "auto") (options: auto, namespaces[=default], packages)
groups:  namespaces

# Charset of scanned files. (multiple values allowed)
#charset:
#    - utf-8              

# Elements with this name prefix will be first in tree.
main: DatabaseBackup

# Include elements marked as @internal.
internal: true

# Files matching this mask will be included in class tree, but will not create a link to their documentation. (multiple values allowed)
#skipDocPath:        

# Do not generate highlighted source code for elements.
#noSourceCode:       

# ApiGen template theme name. (default: "default")
#templateTheme: bootstrap

# Your own template config, has higher priority templateTheme.
#templateConfig:      

# Title of generated documentation.
title: cakephp-database-backup

# Generate documentation for elements marked as @todo.
todo: true

# Generate tree view of classes, interfaces, traits and exceptions.
tree: true          
