parameters:
	ignoreErrors:
		-
			message: "#^Property DatabaseBackup\\\\Test\\\\TestCase\\\\BackupTraitTest\\:\\:\\$Trait has no type specified\\.$#"
			count: 1
			path: tests/TestCase/BackupTraitTest.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: tests/TestCase/Driver/DriverTest.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: tests/bootstrap.php

