parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method messages\\(\\) on Cake\\\\Console\\\\TestSuite\\\\StubConsoleOutput\\|null\\.$#"
			count: 2
			path: tests/TestCase/Command/IndexCommandTest.php

		-
			message: "#^Access to an undefined property DatabaseBackup\\\\Utility\\\\BackupExport\\:\\:\\$noExistingProperty\\.$#"
			count: 1
			path: tests/TestCase/Utility/BackupExportAndImportTest.php

		-
			message: "#^Expression \"\\$this\\-\\>BackupExport\\-\\>noExistingProperty\" on a separate line does not do anything\\.$#"
			count: 1
			path: tests/TestCase/Utility/BackupExportAndImportTest.php
