includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludePaths:
        -  tests/test_app/
