parameters:
    level: 6

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#(Ternary operator condition|Negated boolean expression) is always (true|false)\.$#'
        - "#^Constant REDIRECT_TO_DEV_NULL not found\\.$#"
        - "#^Static call to instance method Tools\\\\Exceptionist#"
        - "#^Parameter \\#2 \\$eventManager of method Cake\\\\TestSuite\\\\TestCase\\:\\:assertEventFired\\(\\) expects Cake\\\\Event\\\\EventManager\\|null, Cake\\\\Event\\\\EventManagerInterface given\\.$#"
        - "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\TableSchema\\:\\:dropSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"

        -
            message: "#^Call to an undefined method Cake\\\\Datasource\\\\ConnectionInterface#"
            path: src/Driver/Sqlite.php

        -
            message: "#^Unable to resolve the template type RealInstanceType#"
            path: src/TestSuite/TestCase.php

        -
            message: '#has no return typehint specified\.$#'
            path: tests/TestCase

        -
            message: "#^Binary operation \"\\+\" between#"
            count: 3
            path: tests/TestCase/Driver
