includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    excludePaths:
        -  tests/test_app/

    ignoreErrors:
        -
            message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::\w+\(\)#'
            path: tests/TestCase
