<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
    backupGlobals="true"
    failOnDeprecation="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    cacheDirectory=".phpunit.cache"
    defaultTestSuite="default"
    >

    <testsuites>
        <testsuite name="default">
            <directory>./tests/TestCase</directory>
            <exclude>./tests/TestCase/Utility/BackupExportAndImportTest.php</exclude>
        </testsuite>

        <testsuite name="real-drivers">
            <file>./tests/TestCase/Utility/BackupExportAndImportTest.php</file>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <!-- configure code coverage -->
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
